@page "/home"
@rendermode InteractiveServer
@inject NavigationManager NavMan
@inject IJSRuntime Jsx
@using System.Text.Json

<PageTitle>Inicio</PageTitle>

<center>
<h1>TimeEdu</h1>

<p>Aplicación para registrar a los estudiantes con tardanza a la escuela.</p>


<table class = "table table-hover table-bordered mb-4">
    <thead>
        <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Curso</th>
        <th>Matrícula</th>
        <th>Fecha</th>
        <th>Motivo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var registrar in estudiantes){

            <tr>
                <td>@registrar.Name</td>
                <td>@registrar.Lastname</td>
                <td>@registrar.Grade</td>
                <td>@registrar.ClassID</td>
                <td>@registrar.Motive</td>
                <td>@registrar.Date</td>

            </tr>
        }
    </tbody>
</table>

<div class="text-end">
    <center>
    <button class="btn btn-primary" @onclick = "Nuevo_estudiante">Añadir estudiante</button>
    </center>
</div>

</center>

@code{

    List<Student> estudiantes = new List<Student>();

    private void Nuevo_estudiante(){
        
        NavMan.NavigateTo("home/registrar/estudiantes");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Accede al localStorage.
            var jsonStudents = await Jsx.InvokeAsync<string>("localStorage.getItem", "estudiantes");

            if (!string.IsNullOrEmpty(jsonStudents))
            {
                estudiantes = JsonSerializer.Deserialize<List<Student>>(jsonStudents);
                StateHasChanged();
            }
        }
    }
}